@model BookSawApi.WebUI.Dtos.AuthorDtos.CreateAuthorDto


@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<h1>Create Author</h1>


<form asp-action="CreateAuthor" method="post">
    <div class="container">
        <br /><br />
        <label>Author Name</label>
        <input type="text" asp-for="AuthorName" class="form-control" />
        <br />
        <label>Author Surname</label>
        <input type="text" asp-for="AuthorSurname" class="form-control" />
        <br />
        <label>Author Image Url</label>
        <input type="text" asp-for="AuthorUmageUrl" class="form-control" />
        <br />
        <label>Authot Description</label>
        <textarea class="form-control" rows="4" asp-for="AuthorDescription"></textarea>         
        <br />
        <button class="btn btn-primary">Save New Author</button>
    </div>
</form>