
@model List<BookSawApi.WebUI.Dtos.CategoryDtos.ResultCategoryDto>

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
    int row = 0;
}

<h3>Category List</h3>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Category Name</th>            
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            row++;
            <tr>
                <td>@row</td>
                <td>@item.CategoryName</td>
                
                <td><a href="/Admin/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Delete</a></td>
                <td><a href="/Admin/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Category/CreateCategory" class="btn btn-primary">Add New Category</a>
<br />
<br />