@model List<ArticleListDto>

<section id="billboard">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>
				@foreach (var item in Model)
				{
					<div class="main-slider pattern-overlay">
						<div class="slider-item">
							<div class="banner-content">
								<h3 class="banner-title">@item.ArticleTitle</h3>
								<p>
									@item.ArticleDetail.Substring(0, Math.Min(item.ArticleDetail.Length, 200))....
								</p>
								<div class="btn-wrap">
									<a href="#" class="btn btn-outline-accent btn-accent-arrow">
										Read More<i class="icon icon-ns-arrow-right"></i>
									</a>
								</div>
							</div><!--banner-content-->
							<img src="@item.ArticleImageUrl" alt="banner" class="banner-image" style="width: 400px; height: 600px;">
						</div><!--slider-item-->



					</div>

					<!--slider-->
				}
				

				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>

			</div>
		</div>
	</div>

</section>