<section id="download-app" class="leaf-pattern-overlay">
	<div class="corner-pattern-overlay"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="row">

					<div class="col-md-5">
						<figure>
							<img src="/booksaw-1.0.0/images/device.png" alt="phone" class="single-image">
						</figure>
					</div>

					<div class="col-md-7">
						<div class="app-info">
							<h2 class="section-title divider">Download our app now !</h2>
							<p>
								Download the BookSaw mobile app and unlock a world of books at your fingertips! Browse, search, and save your favorite titles anytime, anywhere. Stay updated with the latest releases and personalized recommendations. Start your reading journey today with the BookSaw app!
							</p>
							<div class="google-app">
								<img src="/booksaw-1.0.0/images/google-play.jpg" alt="google play">
								<img src="/booksaw-1.0.0/images/app-store.jpg" alt="app store">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4">

				<div class="footer-item">
					<div class="company-brand">
						<img src="/booksaw-1.0.0/images/main-logo.png" alt="logo" class="footer-logo">
						<p>
							Discover the world of books and let your imagination soar. From timeless classics to modern masterpieces, our collection has something for every reader. Explore, read, and embark on new literary adventures today!
						</p>
					</div>
				</div>

			</div>

			<div class="col-md-2">

				<div class="footer-menu">
					<h5>Discover</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Articles</a>
						</li>
						<li class="menu-item">
							<a href="#">Authors </a>
						</li>
						<li class="menu-item">
							<a href="#">Books</a>
						</li>						
					</ul>
				</div>

			</div>
			

				

			</div>
			

		</div>
		<!-- / row -->

	</div>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>
								© 2025 Abdul Hamit KISIR 
							</p>
						</div>

						<div class="col-md-6">
							<div class="social-links align-right">
								<ul>
									<li>
										<a href="#"><i class="icon icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-youtube-play"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-behance-square"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>