@model List<BookSawApi.WebUI.Dtos.AuthorDtos.AuthorListDto>

<section id="latest-blog" class="py-5 my-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="section-header align-center">
					<div class="title">
					
					</div>
					<h2 class="section-title">Authors</h2>
				</div>

				<div class="row">
					@foreach (var item in Model)
					{
						<div class="col-md-4">

							<article class="column" data-aos="fade-up">

								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="@item.AuthorUmageUrl" alt="post" class="post-image">
									</a>
								</figure>

								<div class="post-item">
									<div class="meta-date">@item.AuthorName @item.AuthorSurname</div>
									<h3><a href="#">@item.AuthorDescription.Substring(0, Math.Min(item.AuthorDescription.Length, 100))...</a></h3>

								</div>
							</article>

						</div>
					}


				</div>

				<div class="row">

					<div class="btn-wrap align-center">
						<a href="#" class="btn btn-outline-accent btn-accent-arrow" tabindex="0">
							View All Authors<i class="icon icon-ns-arrow-right"></i>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>